/*aqui estou mechendo com o posicionamenrto do titulo e espaçamento do topo da pagina*/

header{
    
    display: grid;
    min-height: 100px;
    max-height: 200px;
    text-align: center;
    align-items: flex-end;
    min-width: 500px;
    
}
